<<<<<<< HEAD
.logo{
    height: 90px;
    width: 90px;
    margin-left: -20px;
    &:hover{
        transition:  0.5s ease-in-out;
        border-radius: 15px;
    }
}

=======
.logo{
    height: 90px;
    width: 90px;
    margin-left: -20px;
    &:hover{
        transition:  0.5s ease-in-out;
        border-radius: 15px;
    }
}

>>>>>>> bcc69c020710eb416c918aed627af15e2b2dd9fd
