<<<<<<< HEAD
p{
    font-size: 25px;
    color: blueviolet;
    font-weight: 500;
}

=======
p{
    font-size: 25px;
    color: blueviolet;
    font-weight: 500;
}

>>>>>>> bcc69c020710eb416c918aed627af15e2b2dd9fd
