<<<<<<< HEAD
.input{
    margin: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 30px;
    font-size: 20px;
    width: 175px;
    background-color: rgb(225, 219, 219);
    
=======
.input{
    margin: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 30px;
    font-size: 20px;
    width: 175px;
    background-color: rgb(225, 219, 219);
    
>>>>>>> bcc69c020710eb416c918aed627af15e2b2dd9fd
}